# Ignore entire Nginx directory (Local installation used instead)
nginx/

# Ignore sensitive Alloy certificates and keys
alloy/certs/*
**/certs/*.key
**/certs/*.crt
**/certs/*.csr
**/certs/*.srl

# Ignore logs
**/logs/*
*.log

# Ignore backups
*.bak

# Ignore Alloy data storage
alloy-data/

# Ignore OS specific files
.DS_Store

secrets/*.txt
secrets/*.key
!secrets/*.key
docker-compose.yml
